src/download/GSTCPolicyDownLoadService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax21432="http://util.java/xsd" xmlns:ns="http://service.ePolicyDownload.GSTC.webServiceCenter.sinosoft.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ax21430="http://dto.ePolicyDownload.GSTC.webServiceCenter.sinosoft.com/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.ePolicyDownload.GSTC.webServiceCenter.sinosoft.com">
    <wsdl:documentation>GSTCPolicyDownLoadService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax21431="http://dto.ePolicyDownload.GSTC.webServiceCenter.sinosoft.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.ePolicyDownload.GSTC.webServiceCenter.sinosoft.com">
            <xs:import namespace="http://dto.ePolicyDownload.GSTC.webServiceCenter.sinosoft.com/xsd"/>
            <xs:element name="service">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="param0" nillable="true" type="ax21430:EPolicyDownLoadRequest"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="serviceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax21430:EPolicyDownLoadResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://util.java/xsd">
            <xs:complexType name="Map">
                <xs:sequence>
                    <xs:element minOccurs="0" name="empty" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax21433="http://util.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dto.ePolicyDownload.GSTC.webServiceCenter.sinosoft.com/xsd">
            <xs:import namespace="http://util.java/xsd"/>
            <xs:complexType name="EPolicyDownLoadRequest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="policyNo" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="requestInfo1" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="requestInfo2" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="requestType" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EPolicyDownLoadResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="epolicyStream" nillable="true" type="xs:base64Binary"/>
                    <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="policyNo" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="policyURL" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="proposalNo" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="requestType" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="responseCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="result" nillable="true" type="ax21432:Map"/>
                    <xs:element minOccurs="0" name="successFlag1" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="successFlag2" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="systemCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="uRL" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="serviceRequest">
        <wsdl:part name="parameters" element="ns:service"/>
    </wsdl:message>
    <wsdl:message name="serviceResponse">
        <wsdl:part name="parameters" element="ns:serviceResponse"/>
    </wsdl:message>
    <wsdl:portType name="GSTCPolicyDownLoadServicePortType">
        <wsdl:operation name="service">
            <wsdl:input message="ns:serviceRequest" wsaw:Action="urn:service"/>
            <wsdl:output message="ns:serviceResponse" wsaw:Action="urn:serviceResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="GSTCPolicyDownLoadServiceSoap11Binding" type="ns:GSTCPolicyDownLoadServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="service">
            <soap:operation soapAction="urn:service" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GSTCPolicyDownLoadServiceSoap12Binding" type="ns:GSTCPolicyDownLoadServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="service">
            <soap12:operation soapAction="urn:service" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="GSTCPolicyDownLoadServiceHttpBinding" type="ns:GSTCPolicyDownLoadServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="service">
            <http:operation location="GSTCPolicyDownLoadService/service"/>
            <wsdl:input>
                <mime:content type="text/xml" part="service"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="service"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GSTCPolicyDownLoadService">
        <wsdl:port name="GSTCPolicyDownLoadServiceHttpSoap11Endpoint" binding="ns:GSTCPolicyDownLoadServiceSoap11Binding">
            <soap:address location="http://9.23.22.148:7001//webServiceCenter/services/GSTCPolicyDownLoadService.GSTCPolicyDownLoadServiceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="GSTCPolicyDownLoadServiceHttpSoap12Endpoint" binding="ns:GSTCPolicyDownLoadServiceSoap12Binding">
            <soap12:address location="http://9.23.22.148:7001//webServiceCenter/services/GSTCPolicyDownLoadService.GSTCPolicyDownLoadServiceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="GSTCPolicyDownLoadServiceHttpEndpoint" binding="ns:GSTCPolicyDownLoadServiceHttpBinding">
            <http:address location="http://9.23.22.148:7001//webServiceCenter/services/GSTCPolicyDownLoadService.GSTCPolicyDownLoadServiceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
